@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,200;1,400;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
#body{
  display: flex;
  color: bisque;
  font-family: 'Roboto', sans-serif;
}
.pic{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 100vh;
  background: url('/images/bg.jpg') center , url(/images/bg-overlay.jpg) center transparent;
}
#body  div > h1{
text-align: center;
}
#body  div{
  border: 2px solid bisque;
}
.navBar {
  width: 100%;
  display: grid;
}
.navBar ul{
  padding: 0;
  margin: 5px;
 
}
.navBar ul li {
  text-align: center;
  list-style: none;
  border: 2px solid bisque;
  padding: 10px;
  font-size: 0.7rem;
  font-weight: 400;
  
}
.navBar ul li a{
  text-decoration: none;
  color: bisque;
  text-align: center;
}